// Colour
$color-primary: #47acbe;
$color-primary-light: #a2dfea;
$color-primary-dark: #099197;

$color-secondary: #213f5a;
$color-secondary-light: #546f87;
$color-secondary-dark: #031729;

$color-tertiary: #4db085;
$color-tertiary-light: #ace6cd;
$color-tertiary-dark: #178556;

$color-danger: #cc0000;
$color-warning: #dd820a;
$color-success: #50b04d;

$color-white: #fff;
$color-grey-light: #ddd;
$color-grey: #aaa;
$color-grey-dark: #333;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;