.Home {

  &__body {
    margin-bottom: 2rem;
  }

  &__dev {
    margin-top: 16rem;
    border-top: 1px solid $color-grey-dark;
  }

  &__list {
    margin-left: 4rem;
  }

  &__disclaimer {
    margin: 0 12.5%;

    margin-top: 2rem;
    border-top: 1px solid $color-grey-dark;
  }
}