.RoleSet {

  &__stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: .8rem;
    border-radius: .5rem;
    background-color: $color-grey-light;
  }

  &__statElement {
    margin-right: 4rem;
    text-transform: capitalize;
  }
}

.RoleList {
  display: block;
  list-style: none;

  &__role {
    display: inline-block;
    margin: .5rem;
  }
}