/*** 
Media Query Manager

0 - 600px:      Phone
600 - 900px:    Tablet portait
900 - 1200px:   Tablet landscape
1200 - 1800px:    Normal styles
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
***/
@import url("https://fonts.googleapis.com/css?family=Francois+One|Raleway&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.main-body {
  margin: 0 12.5%;
  margin-top: 6.2rem;
  padding: 5rem 0;
  min-height: 80vh; }
  @media (max-width: 56.25em) {
    .main-body {
      margin: 0 2rem;
      margin-top: 5.7rem;
      padding: 2rem 0; } }

table {
  table-layout: fixed; }

td {
  min-width: 20rem; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #333; }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Francois One", sans-serif;
  font-weight: 700; }

.heading-primary {
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.25;
  text-transform: capitalize;
  color: #384187; }

.heading-secondary {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #cfba01; }

.heading-tertiary {
  margin-bottom: .5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #1a1e3f; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #333; }
  .paragraph:not(:last-child) {
    margin-bottom: 1rem; }

.link:link, .link:visited {
  text-decoration: none;
  color: #384187;
  cursor: pointer; }

.link:hover, .link:active {
  text-decoration: underline;
  color: #cfba01; }

.icon {
  padding: .5rem;
  font-size: 1.6rem; }

.u-bold-text {
  font-weight: bold !important; }

.u-center-text {
  text-align: center !important; }

.CheckboxGroup {
  padding: 0 2rem;
  border: 2px solid #262C5C; }
  .CheckboxGroup__label {
    margin-left: .5rem; }

.button {
  display: inline-block;
  margin: 0.2rem;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  background: #262C5C;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s; }
  .button--inverse {
    border: 0.2rem solid #262C5C;
    background: #fff;
    color: #262C5C; }
  .button:disabled, .button:hover:disabled, .button:active:disabled {
    cursor: not-allowed;
    background: #ddd;
    color: #aaa;
    box-shadow: none;
    transform: translateY(0); }
  .button:hover {
    cursor: pointer;
    background: #262C5C;
    color: #fff;
    box-shadow: 0 0.6rem 1rem rgba(51, 51, 51, 0.4);
    transform: translateY(-2px); }
  .button:active, .button:focus {
    outline: none;
    box-shadow: 0 0.2rem 0.5rem rgba(51, 51, 51, 0.4);
    transform: translateY(0); }

.form-group {
  margin: 1rem 0; }
  .form-group__details {
    display: block;
    font-size: 1.2rem;
    color: #333; }
  .form-group__label {
    display: inline-block;
    min-width: 10rem;
    text-transform: capitalize; }
  .form-group__error {
    display: inline-block;
    float: right;
    color: #cc0000; }
  .form-group__input {
    display: block;
    width: 100%;
    border: 1px solid #aaa;
    padding: 1rem;
    min-width: 20rem;
    background: #fff;
    color: #333;
    resize: vertical; }
    .form-group__input--invalid {
      border: 1px solid #cc0000; }
    .form-group__input--select {
      text-transform: capitalize; }
    .form-group__input::placeholder {
      color: #aaa; }
    .form-group__input:active, .form-group__input:focus {
      outline: none;
      border: 1px solid #262C5C;
      background: #ddd; }
    .form-group__input:disabled, .form-group__input:active:disabled, .form-group__input:focus:disabled {
      cursor: not-allowed;
      border-color: #ddd;
      background: #ddd;
      color: #aaa; }

.menu {
  padding: .4rem;
  border: none;
  background: transparent;
  cursor: pointer; }
  .menu__icon {
    position: relative;
    margin-top: 1.4rem; }
    .menu__icon, .menu__icon:before, .menu__icon:after {
      width: 3rem;
      height: 2px;
      background: #fff;
      display: inline-block; }
    .menu__icon:before, .menu__icon:after {
      content: "";
      position: absolute;
      left: 0; }
    .menu__icon::before {
      top: -.8rem; }
    .menu__icon::after {
      top: .8rem; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  z-index: 80;
  padding: 1rem;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  background: #262C5C;
  color: #fff; }
  .navbar__menu {
    display: none; }
    @media (max-width: 56.25em) {
      .navbar__menu {
        display: block;
        margin: auto 0;
        margin-right: 2rem; } }
  .navbar__logo {
    flex-grow: 1;
    height: 3.7rem;
    font-size: 2.6rem; }
    @media (max-width: 56.25em) {
      .navbar__logo {
        margin: 0 1rem; } }
  .navbar__logo-image {
    display: block;
    height: 100%;
    border-radius: 0.5rem; }
    @media (max-width: 56.25em) {
      .navbar__logo-image {
        float: right; } }

@media (max-width: 56.25em) {
  .navigation {
    display: none; } }

.navigation__list {
  list-style: none; }

.navItem {
  display: inline-block; }
  @media (max-width: 56.25em) {
    .navItem {
      display: block; }
      .navItem:not(:last-child) {
        border-bottom: 1px solid #333; } }
  .navItem__link:link, .navItem__link:visited {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    color: #F8DF01;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer; }
  .navItem__link:hover, .navItem__link:active, .navItem__link.active {
    color: #fff; }

.sidebar {
  display: none; }
  @media (max-width: 56.25em) {
    .sidebar {
      display: block; } }
  .sidebar__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6); }
  .sidebar__nav--open, .sidebar__nav--close {
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    max-width: 40rem;
    height: 100vh;
    z-index: 100;
    padding: 2rem;
    background: #262C5C;
    transition: transform 0.3s ease-out; }
  .sidebar__nav--open {
    transform: translateX(0); }
  .sidebar__nav--close {
    transform: translateX(-100%); }
  .sidebar__logo {
    margin: 1rem;
    height: 6rem;
    font-size: 2.6rem; }
  .sidebar__logo-image {
    border-radius: .5rem;
    display: block;
    margin: 0 auto;
    height: 100%; }
  .sidebar__title {
    display: none;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: #F8DF01; }
  .sidebar__list {
    list-style: none; }

.userProfile {
  position: relative;
  border-radius: 0.5rem;
  background-color: #384187; }
  .userProfile__body {
    padding: 0.5rem 1rem; }
  .userProfile__login {
    display: inline-block;
    color: #cfba01;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; }
  .userProfile__name {
    display: inline-block;
    margin-right: 1rem;
    font-size: 2rem;
    text-transform: uppercase; }
  .userProfile__dropdown {
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0 1rem; }
    .userProfile__dropdown:hover {
      background-color: #262C5C;
      cursor: pointer; }
  .userProfile__logout {
    color: #cfba01;
    font-size: 1rem;
    text-transform: uppercase; }

.dropdown {
  position: absolute;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  background: #ddd;
  list-style: none; }
  .dropdown__listItem {
    padding: 0.5rem 1.5rem;
    color: black; }
    .dropdown__listItem:not(:last-child) {
      border-bottom: 1px solid #aaa; }
  .dropdown__item {
    width: 100%;
    color: inherit;
    text-decoration: none;
    cursor: pointer; }
    .dropdown__item:hover {
      color: #cfba01; }

.RoleCard {
  display: inline-block; }
  .RoleCard__img {
    width: 10rem;
    border-radius: 1rem; }
  .RoleCard__cardBack {
    padding: 2rem 3rem;
    border-radius: 4px;
    background: #F8DF01; }
  .RoleCard__text {
    color: #020300;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center; }

.RoleSetCard {
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background: #ddd; }
  .RoleSetCard__title {
    margin-bottom: .2rem;
    text-decoration: none; }
    .RoleSetCard__title:hover {
      color: #cfba01; }
  .RoleSetCard__stats {
    display: flex;
    flex-direction: row; }
  .RoleSetCard__statElement {
    margin-right: 1.5rem;
    text-transform: capitalize; }

.Card-Selector {
  display: flex;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: #ddd; }
  .Card-Selector__index {
    margin-right: 1rem; }
  .Card-Selector__image {
    min-width: 3rem;
    width: 5%;
    margin-right: 1rem; }
  .Card-Selector__dropdown {
    display: block;
    margin-right: 1rem;
    width: 100%;
    border: 1px solid #aaa;
    padding: 1rem;
    background: #fff;
    color: #333;
    text-transform: capitalize; }
    .Card-Selector__dropdown:active, .Card-Selector__dropdown:focus {
      outline: none;
      border: 1px solid #384187;
      background: #ddd; }

.Set-Creator {
  margin: 1rem 0;
  border: 1px solid #262C5C;
  padding: 1rem; }

.Card {
  border-radius: 3px;
  padding: 2rem;
  background-color: #ddd; }

.notificationBar {
  position: fixed;
  top: 6.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  width: 100%;
  background: #cfba01;
  color: #000; }
  .notificationBar__message {
    color: inherit;
    font-size: 1.6rem;
    font-weight: 700; }
  .notificationBar__action:hover {
    cursor: pointer; }
  .notificationBar--success {
    background: #50b04d; }
  .notificationBar--warning {
    background: #dd820a; }
  .notificationBar--danger {
    color: #fff;
    background: #cc0000; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.loader {
  color: #262C5C;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0; }

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 3.5em; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

.Footer {
  margin: 0 12.5%;
  margin-top: 2rem;
  border-top: 1px solid #333; }
  @media (max-width: 56.25em) {
    .Footer {
      margin: 0 2rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.Login {
  margin: 0 auto;
  max-width: 50rem; }

.Create {
  margin: 2rem;
  text-align: center; }

.Home__body {
  margin-bottom: 2rem; }

.Home__dev {
  margin-top: 16rem;
  border-top: 1px solid #333; }

.Home__list {
  margin-left: 4rem; }

.Home__disclaimer {
  margin: 0 12.5%;
  margin-top: 2rem;
  border-top: 1px solid #333; }

.RoleSet__stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: .8rem;
  border-radius: .5rem;
  background-color: #ddd; }

.RoleSet__statElement {
  margin-right: 4rem;
  text-transform: capitalize; }

.RoleList {
  display: block;
  list-style: none; }
  .RoleList__role {
    display: inline-block;
    margin: .5rem; }

.Signup__error {
  color: red; }
