.menu {
    padding: .4rem;
    border: none;
    background: transparent;
    cursor: pointer;

    &__icon {
        position: relative;
        margin-top: 1.4rem;

        &,
        &:before,
        &:after {
            width: 3rem;
            height: 2px;
            background: $color-white;
            display: inline-block;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }
}