.navItem {
    display: inline-block;

    @include respond(tab-port) {
        display: block;

        &:not(:last-child) {
            border-bottom: 1px solid $color-grey-dark;
        }
    }
    
    &__link {
        &:link,
        &:visited {
            display: block;
            width: 100%;
            padding: .5rem 1rem;
            color: $color-secondary;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
        }
    
        &:hover,
        &:active {
            color: $color-white;
        }
    }
}